.main-app-table {
	position: relative;
	height: 560px;
	.app-table {
		width: 100%;
	    overflow-x: auto;
	    z-index: 99;
	    table {
		  	border-collapse: collapse;
			thead{
				display: table-row;
			    background: #dedede;
			    tr{
			    	th{
			    		border: 1px solid black;
						padding: 5px 10px;
						max-width: 150px;
						min-width: 150px;
						word-wrap: break-word;
						text-transform: capitalize;
			    	}
			    }
			}
			tbody{
				display: block;
			    height: 400px;
			    overflow: auto;
			    tr{
			    &:nth-child(even) {
			    background-color: #a09d9d61;
			    }
			    	&:nth-child(1){
			    		td{
			    			border-top: 0px;
			    		}
			    	}
			    	td{
			    		border: 1px solid black;
						padding: 5px 10px;
						max-width: 150px;
						min-width: 150px;
						word-wrap: break-word;
			    	}
			    }
			}
			tfoot{
				position: absolute;
			    width: 100%;
			    bottom: 0;
			    z-index: 9999;
			    tr{
			    	width: 100%;
    				display: table;
			    	td{
			    		border: 1px solid black;
						padding: 5px 10px;
						width: 100%;
			    	}
			    }
			}
		}
	}
}





