<div class="main-app-table">
	<div class="app-table">
		<table>
			<thead>
				<tr>
					<th *ngFor="let col of columns">{{col.label}}</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of currentTableData">
					<td *ngFor="let col of columns">{{item[col.value]}}</td>
					<td><button (click)="submitRowData(item)">submit</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="21">
				<app-pagination *ngIf="pagination" [numberOfItems]="data.length"
				   (emitToBind)="bindTableData($event)"></app-pagination>
			       </td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>	