<div class="pagination-container">
	<div class="page-count">
     <span class="per-page">rows per page</span>
     <select  [(ngModel)]="rowsPerPage" (change)="rowsPerPageChange()">
     	<option *ngFor="let opt of rowOptions" [value]="opt">{{opt}}</option>
     </select>
	</div>

   <ul class="page-list-items">
   	<li (click)="goToStartPage()">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </li>
   	<li (click)="prevPageItemClick()">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </li>
   	<li *ngFor="let list of currentPageList; let ind = index" 
   	  [ngClass]="list == pageList[currentPage - 1] ? 'activeItem' : ''" (click)="pageItemClick(list)">{{list}}</li>
   	<li (click)="nextPageItemClick()">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </li>
   	<li (click)="goToLastPage()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
   </ul>
</div>