.pagination-container {
	.page-count{
		padding: 10px 0;
		.per-page{
			margin-right: 10px;
		}
	}
  .page-list-items {
	   display: flex;
	   justify-content: center;
	   li {
	   	list-style-type: none;
	     padding: 5px 8px;
    	 border: 1px solid black;
    	 border-right: 0px;
    	 &:nth-last-child(1){
    	 	border-right: 1px solid;
    	 }
    	 &.activeItem{
    	 	background: #0987ea;
    	 }
	   }
	   
   }
}
